@font-face {
  font-family: "Atkinson";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
  font-display: swap;
}

:root {
    --main-text-color: #AAA;
    --secondary-text-color: #333;
    --main-bg-color: #DDD;
    --secondary-bg-color: #222;
    --main-accent-color: #555;
    --main-success-color: rgb(0, 112, 243);
    --main-error-color: #FF0033;
}

body {
  font-family: "Atkinson", Tahoma, Arial, Helvetica, sans-serif !important;
  font-size: 1em;
  line-height: 1.65;
  color: var(--main-text-color);
  background: var(--secondary-bg-color) !important;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

ul, ol {
    color: currentColor !important;
}

.pageWrapper {
    width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
  background: var(--main-bg-color)
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid var(--main-text-color);
  text-align: center;
  color: var(--secondary-text-color)
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }

  ul li::before {
      content: none !important;
  }

/**
* DiscussionEmbed
*/

  #disqus_thread {
      width: 110ch;
      max-width: 90vw;
      margin: 0 auto;
  }
