.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1e1e1;
}

.postWrapper {
    background: var(--main-bg-color);
    color: var(--secondary-text-color);
}

.thePostBody {
    max-width: 100ch;
    margin: 0 auto;
    & h1 {
        line-height: 2.75rem;
    }
    & h2 {
        line-height: 2.3rem;
      &:not(:first-of-type) {
          margin: 2rem 0 -1rem 0;
      }
    }
}
