.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5em;
  background: #e1e1e1;
}

.postWrapper {
    background: var(--main-bg-color);
    color: var(--secondary-text-color);
}

.thePostBody {
    max-width: 100ch;
    margin: 0 auto;
}
