.previewTitle {
    font-size: 1.5rem;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}

.card {
    min-height: 450px;
    max-width: 90vmin;
    position: relative;
    box-shadow:
        0 1.4px 1.4px -5px rgba(0, 0, 0, 0.056),
        0 3.4px 3.5px -5px rgba(0, 0, 0, 0.081),
        0 6.4px 6.5px -5px rgba(0, 0, 0, 0.1),
        0 11.4px 11.6px -5px rgba(0, 0, 0, 0.119),
        0 21.3px 21.7px -5px rgba(0, 0, 0, 0.144),
        0 51px 52px -5px rgba(0, 0, 0, 0.2) !important;
    & footer {
        bottom: 0;
        height: 30px;
        position: absolute;
    }
}

.headerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    & h3 {
        text-align: center;
    }
}
