.hero {
    height: 70vh;
    background-image: url('../assets/blog_header.png');
    background-position: center 1%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@media (max-width: 600px) {
    .hero {
        background-position: 1% center !important;
    }
}


.blogWrapper {
    background: var(--main-bg-color);
}
