.formWrapper {
    height: 100%;
    width: 40%;
    & form {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        justify-content: center;
        margin-left: 2rem;
        & .formInput, .formTextarea {
            background: white !important;
        }
        & .formInput {
            margin-bottom: 1rem;
            width: 100% !important;
        }
        & .formTextarea {
            resize: none;
            height: 15rem;
            margin-bottom: 1rem;
        }
        & .formButton {
            box-sizing: border-box;
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .formWrapper {
        width: 100%;
    }
    .formWrapper form {
        margin-left: 0;
        width: 100%;
        & .formInput, .formTextarea {
            width: 100%;
        }
    }
}
